@font-face {
  font-family: "Roboto";
  src: url("../static/fonts/Roboto/RobotoMono-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../static/fonts/Roboto/RobotoMono-Bold.ttf");
}
